<section id="about" class="section section-about">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="profile-picture has-text-right-desktop has-text-centered-mobile">
          <div class="profile-picture-column">
            <img src="images/Passfoto.jpg" style="width: 100%; max-width: 300px" />
            <div id="social-media-icons">
              <!-- Email -->
              <a href="mailto:tim.walter@tum.de" target="_blank" rel="noopener noreferrer" class="social-icon email"
                title="My Email">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Thunderbird_2023_icon.png" alt="Email">
              </a>
              <!-- GitHub -->
              <a href="https://github.com/TimWalter" target="_blank" rel="noopener noreferrer"
                class="social-icon github" title="My GitHub Profile">
                <img src="icons/github.svg" alt="GitHub">
              </a>
              <!-- Google Scholar -->
              <a href="https://scholar.google.com/citations?user=2Wo7aQgAAAAJ&hl=de" target="_blank"
                rel="noopener noreferrer" class="social-icon scholar" title="My Google Scholar Profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Google_Scholar_logo.svg"
                  alt="Google Scholar">
              </a>
              <!-- LinkedIn -->
              <a href="https://www.linkedin.com/in/tim-walter-7203aa20b/?locale=en_US" target="_blank"
                rel="noopener noreferrer" class="social-icon LinkedIn" title="My LinkedIn Profile">
                <img src="icons/linkedin.svg" alt="LinkedIn">
              </a>
              <!-- Twitter -->
              <a href="https://x.com/TimWalterTUM" target="_blank" rel="noopener noreferrer" class="social-icon twitter"
                title="My Twitter Profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Logo_of_Twitter.svg" alt="Twitter">
              </a>
              <!-- Bluesky -->
              <a href="https://bsky.app/profile/tim-walter.bsky.social" target="_blank" rel="noopener noreferrer"
                class="social-icon bluesky" title="My Bluesky Profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Bluesky_Logo.svg" alt="Bluesky">
              </a>
              <!-- ResearchGate -->
              <a href="https://www.researchgate.net/profile/Tim-Walter-3" target="_blank" rel="noopener noreferrer"
                class="social-icon ResearchGate" title="My ResearchGate Profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/ResearchGate_icon_SVG.svg"
                  alt="ResearchGate">
              </a>
              <!-- Reddit -->
              <a href="https://www.reddit.com/user/Tim_Walter/" target="_blank" rel="noopener noreferrer"
                class="social-icon reddit" title="My Reddit Profile">
                <img src="icons/reddit.svg" alt="Reddit">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <h1 class="title-me">Tim Walter</h1>
        Doctoral Candidate, Technical University of Munich
        <br /><br />
        <h2>About Me</h2>
        I am a doctoral candidate in the <a href="https://www.ce.cit.tum.de/cps/home/" target="_blank">Cyber Physical
          Systems Group
        </a> at the Technical University of Munich, supervised by <a
          href="https://www.ce.cit.tum.de/cps/members/prof-dr-ing-matthias-althoff/" target="_blank">Prof. Matthias
          Althoff
        </a>.
        <br /><br />
        Before starting my PhD, I completed a M.Sc. degree in Computational Science and Engineering at TUM with my
        Master’s Thesis focusing
        on <a href="https://arxiv.org/pdf/2506.01665" target="_blank">Leveraging Analytic Gradients for Provably Safe
          Reinforcement Learning </a>. Prior I completed a dual study program with <a
          href="https://www.rohde-schwarz.com/" target="_blank"> Rohde & Schwarz</a>, where I completed an
        apprenticeship as an Electronics Technician for Information and Systems Technology, worked within the company
        for a cumulative time of 2 years, and earned a B.Eng. degree in Electrical Engineering and Information
        Technology from the University of Applied Sciences Munich, with my thesis focusing on outlier detection in
        manufacturing data for service predictions.
        <br /><br />
        My current research interests lie in <span class="has-text-weight-bold">Reinforcement Learning</span>, <span
          class="has-text-weight-bold">Modular Robotics</span>
        and <span class="has-text-weight-bold">Algorithmic Design</span>.
      </div>
    </div>
  </div>
  </div>